.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.icon-menu {
    background-image: url('../icons/menu.svg');
}

.icon-menu-close {
    background-image: url('../icons/menu-close.svg');
}
