.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.icon-menu {
    background-image: url('../icons/menu.svg');
}

.icon-menu-close {
    background-image: url('../icons/menu-close.svg');
}

.icon-left-arrow,
.icon-right-arrow {
    width: 30px;
    height: 10px;
}

.icon-left-arrow {
    background-image: url('../icons/left-arrow.svg');
}

.icon-right-arrow {
    background-image: url('../icons/right-arrow.svg');
}

.icon-eye {
    background-image: url('../icons/eye.svg');
    width: 46px;
    height: 46px;
}

.icon-x-close {
    background-image: url('../icons/x-close.svg');
    width: 22px;
    height: 22px;
}

.icon-full-screen {
    background-image: url('../icons/full-screen.svg');
}
