.preview {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__container {
        width: 80px;
        height: 60px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        display: none;
    }

    &__links {
        display: flex;
        gap: 50px;
    }
}
