*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

strong {
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

input,
label {
  font-family: "Poppins", sans-serif;
}

select,
textarea,
input {
  border-radius: 0;
  width: 100%;
  border: 1px solid #000;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 40px;
}

.header {
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 4px 14px 10px rgba(0, 0, 0, 0.03);
}
.header--margin {
  margin-bottom: 20px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__menu {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.header__menu-btn {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.header__menu-btn .icon-menu-close {
  display: none;
}
.header__logo img {
  width: 216px;
  height: 14px;
}

@media screen and (max-width: 800px) {
  .header {
    position: sticky;
    top: 0;
  }
  .header__menu {
    position: fixed;
    z-index: -1;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #E00000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding-bottom: 80px;
  }
  .header__menu--admin {
    top: 112px;
  }
  .header__menu.open {
    height: 100%;
    z-index: 998;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-in, height 0.4s ease-out;
  }
  .header__link {
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
  }
  .header__menu-btn {
    display: inline-block;
  }
  .header__logo img {
    width: 138px;
    height: 9px;
  }
}
@media screen and (max-width: 782px) {
  .header__menu--admin {
    top: 126px;
  }
}
.footer {
  border-top: 1px solid #000;
}
.footer__menu {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.footer__link, .footer__text {
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .footer__menu {
    height: unset;
    padding: 40px 0;
    flex-direction: column;
    gap: 40px;
  }
}
.form__group, .form--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.form__label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}
.form__input {
  height: 40px;
  padding: 0 10px;
}
.form__textarea {
  padding: 10px;
}
.form__select {
  min-width: 272px;
  height: 49px;
  padding: 0 10px;
}

.btn {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #d0d0d0;
  box-shadow: unset;
  text-decoration: none;
}

.btn-flag {
  position: relative;
  display: inline-block;
  border: unset;
  background-color: #fff;
  padding: 0 45px;
  line-height: 38px;
}
.btn-flag::after {
  content: "";
  position: absolute;
  top: calc(50% - 19px);
  left: -2px;
  width: 4px;
  height: 100%;
  background-color: #000;
}

.carousel__form {
  margin-bottom: 50px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel__form::-webkit-scrollbar {
  display: none;
}
.carousel__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.carousel__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.carousel__item {
  position: relative;
  height: 525px;
}
.carousel__preview-btn {
  position: absolute;
  display: none;
  z-index: 2;
  top: 15px;
  right: 10px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.carousel__preview-btn:hover {
  transform: scale(1.15);
}
.carousel__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__caption {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.92) 100%);
  position: absolute;
  z-index: 1;
  inset: 0;
  padding: 15px 20px;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
}
.carousel__caption .icon {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
}
.carousel__item:hover .carousel__preview-btn {
  display: inline-block;
}
.carousel__item:hover .carousel__caption {
  display: flex;
}
.carousel__item-title, .carousel__item-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.carousel__item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.carousel__action {
  text-align: center;
  margin: 40px 0;
}

@media screen and (max-width: 1100px) {
  .carousel__item {
    height: 425px;
  }
}
@media screen and (max-width: 900px) {
  .carousel__item {
    height: 350px;
  }
}
@media screen and (max-width: 800px) {
  .carousel__form {
    margin-bottom: 40px;
  }
  .carousel__item {
    height: 300px;
  }
  .carousel__action {
    margin: 25px 0;
  }
}
@media screen and (max-width: 700px) {
  .carousel__container {
    grid-template-columns: 1fr;
  }
  .carousel__item {
    height: 250px;
  }
}
.cta {
  display: flex;
  align-items: center;
  gap: 45px;
}
.cta__title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.heading__title {
  font-size: 66px;
  line-height: 58px;
  font-style: italic;
  text-transform: uppercase;
  max-width: 300px;
}
.heading__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.heading__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.heading__column:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.heading__column:first-of-type::after {
  content: "";
  border-bottom: 1px solid #000;
}
.heading__info {
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
}
.heading__img {
  height: 845px;
  object-fit: cover;
}
.heading__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  position: relative;
}
.heading__footer::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 1100px) {
  .heading__img {
    height: 397px;
  }
}
@media screen and (max-width: 800px) {
  .heading__container {
    grid-template-columns: 1fr;
  }
  .heading__column:first-of-type {
    order: 1;
  }
  .heading__column:first-of-type::after {
    transform: translateX(-40px);
    width: calc(100% + 80px);
  }
  .heading__img {
    margin-bottom: 20px;
  }
  .heading__preview {
    display: none !important;
  }
  .heading__footer::after {
    transform: translateX(-40px);
    width: calc(100% + 80px);
  }
}
@media screen and (max-width: 500px) {
  .heading__cta {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 25px;
  }
  .heading__footer {
    height: 135px;
  }
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.icon-menu {
  background-image: url("../icons/menu.svg");
}

.icon-menu-close {
  background-image: url("../icons/menu-close.svg");
}

.icon-left-arrow,
.icon-right-arrow {
  width: 30px;
  height: 10px;
}

.icon-left-arrow {
  background-image: url("../icons/left-arrow.svg");
}

.icon-right-arrow {
  background-image: url("../icons/right-arrow.svg");
}

.icon-eye {
  background-image: url("../icons/eye.svg");
  width: 46px;
  height: 46px;
}

.icon-x-close {
  background-image: url("../icons/x-close.svg");
  width: 22px;
  height: 22px;
}

.icon-full-screen {
  background-image: url("../icons/full-screen.svg");
}

.lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.lightbox.show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transition: opacity 0.4s ease-in;
}
.lightbox__close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.lightbox__close-btn:hover {
  opacity: 0.7;
}
.lightbox__content {
  margin: auto;
}
.lightbox__content img {
  max-width: 90vw;
  max-height: 90vh;
  display: none;
}
.lightbox__content img.show {
  display: block;
}
.lightbox__loader {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.loader-rotary {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: inline-block;
  animation: rotation-360 1s linear infinite;
}

.loader-rotary--xl {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
}

@keyframes rotation-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 60px 20px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.modal.show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transition: opacity 0.4s ease-in;
}
.modal__title {
  margin-top: 5px;
}
.modal__content {
  background-color: #fff;
  border: 3px solid #000;
  margin: auto;
  width: 454px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal__content::-webkit-scrollbar {
  display: none;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 90px;
  gap: 15px;
  margin-bottom: 20px;
}
.modal__btn {
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .modal__form {
    padding: 30px;
    margin-bottom: 0;
  }
  .modal__btn {
    margin: 0;
  }
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.preview__container {
  width: 80px;
  height: 60px;
}
.preview__img {
  height: 100%;
  object-fit: cover;
  display: none;
}
.preview__links {
  display: flex;
  gap: 50px;
}

.wpcf7-submit {
  border: unset;
  background-color: #fff;
  padding: 0 45px;
  line-height: 38px;
  border-left: 4px solid #000;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
